.div-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.empty-form-section{
  height: 11vh;
  width: 60%;
}

.star-rating {
    display:flex;
    flex-direction: row-reverse;
    font-size:1.5em;
    justify-content:right;
    padding:0 .2em;
    text-align:center;
    width:10em;
  }
  
  .star-rating input {
    display:none;
  }
  
  .star-rating label {
    color:#ccc;
    cursor:pointer;
  }
  
  .star-rating :checked ~ label {
    color:rgb(255, 234, 1);
  }
  
  .star-rating label:hover,
  .star-rating label:hover ~ label {
    color:#fc0;
  }
  
.heading--all-movies {
    color:  #f6eedf;
    display: flex;
    align-items: center;
    height: 11vh;
    justify-content: flex-start;
    h2 {
        display:flex;
        margin-right: 20px;
        color: white;
        font-size: 1.4em;
    }
    width: 40%;
}

.banana {
    font-size: medium;
}

.section--all-movies {
    background-color: #090a18;
    display: flex;
    flex-direction: column;
    align-items: center;
    .error {
        min-height: 65vh;
        color: white;
      }
}

.text--error {
    color: #f6eedf;
  }

