@import './mini.scss';

.heading-all-movies {
    color: brown;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section-all-movies {
    background-color: $PurpleBrown;
    display: flex;
    flex-direction: column;
    align-items: center;
}