
Footer {
    align-items: center;
    background-color: rgb(9, 10, 24, .9);
    border-top: 2px solid black;
    bottom: 0;
    color: #f6eedf;
    display: flex;
    font-size: 1.8em;
    height: 10vh;
    justify-content: center;
    left: 0;
    position: fixed;
    width: 100%;
    p {
        margin: 0;
    }
}

.github {
    color:RGB(201, 209, 217);
}

.linkedin {
    color:RGB(10, 102, 194);
}

.github:hover,
.linkedin:hover {
    color: red;
}