Footer {
    align-items: center;
    background-color: rgb(9, 10, 24, .9);
    border-top: 2px solid black;
    bottom: 0;
    color: #f6eedf;
    display: flex;
    font-size: 1.3em;
    height: 10vh;
    left: 0;
    padding-left: 2em;
    position: fixed;
    text-decoration: none;
    width: 100%;
    p {
        margin: 0;
    };
};

.anchor {
    text-decoration: none;
};

.github {
    color:RGB(201, 209, 217);
};

.linkedin {
    color:RGB(10, 102, 194);
};

.github:hover,
.linkedin:hover {
    color: rgb(202, 4, 3, 0.8);
};