
Footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: #090a18;
    border-top: 2px solid black;
    color: #f6eedf;
    p {
        margin: 0;
    }
}