
Header {
    align-items: center;
    background-color: darkslategray;
    border-bottom: 4px solid darkblue;
    color: white;
    display: flex;
    font-size: 25px;
    height: 80px;
    justify-content: space-between;
    & div {
        align-items: center;
        display: flex;
        & img {
            align-items: center;
            display: flex;
            width: 100px;
        }
        & h1 {
            padding-left: 70px;
        }
    }
}