@import './mini.scss';

.movie-card {
    background-color: $PrettySoftBlue;
    color: $PrettySoftBlue;
    padding: auto;
    width: 17vw;
    img {
        width: 100%;
        margin: auto;
    }
}