

.single-page-container {
    background-color: darkslategrey;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 300px;
    margin: auto;
    padding: 30px;
    p {
        color: white;
    }
    img {
        margin-right: 65px;
        width: 17vw;
    }
}

.single-movie-description {
    color: white;
}

.error-message {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2em;
}